/* ページ全体の文字色と背景色を設定 */
body {
  color: #c7c7c7;
  background-color: #181818;
}

/* サイドバー全体の設定 */
.sidebar {
  width: 220px;
  position: fixed;
  padding-top: 30px;
  padding-left: 20px;
}

/* サイドバーのユーザ名 */
.sidebar-username {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  width: 300px;
  white-space: wrap;
  text-overflow: ellipsis;
}

/* サイドバーの各アイテム */
.sidebar-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* サイドバーの各アイテム内のアイコン */
.sidebar-item__icon {
  font-size: 20px;
  color: #fff;
}

/* サイドバーの各アイテム内のラベル */
.sidebar-item__label {
  margin-left: 25px;
  color: #fff;
  font-size: 18px;
  padding-bottom: 8px;
}

/* メインコンテンツ全般の設定 */
.main-content {
  width: 45%;
  margin-left: 220px;
  box-sizing: border-box;
}


/* 
  投稿一覧画面のレイアウト設定
*/
/* 投稿フォーム */
.post-form {
  padding: 10px;
  border: 2px solid #444;
  display: flex;
  flex-direction: column;
}

/* 投稿フォーム内のテキストエリア */
.post-form textarea {
  width: 100%;
  background: transparent;
  color: #e6e6e6;
  font-size: 18px;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  resize: none;
}

.post-form textarea::placeholder {
  color: #888;
}

/* 投稿フォーム内の投稿ボタン */
.post-form button {
  background-color: #1da1f2;
  color: #fff;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  margin-left: auto;
}

.post-form button:hover {
  background-color: #0d8ddb;
}

/* 投稿カード全体 */
.post-card {
  font-size: 18px;
  padding: 5px 10px;
  border: 2px solid #444;
}

/* 投稿ユーザ・投稿日時・編集ボタン・削除ボタン */
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* 投稿ユーザ・投稿日時 */
.post-info {
  display: inline-flex;
  align-items: center;
}

/* 投稿日時 */
.post-date {
  color: #aaa;
  font-size: 15px;
}

/* 編集ボタン・削除ボタン */
.post-actions {
  display: inline-flex;
  align-items: center;
}

.post-actions button {
  margin-left: 10px;
}

/* 編集ボタン */
.edit-button {
  color: white;
  background-color: rgb(77, 77, 77);
  border: none;
  border-radius: 8px;
  font-size: 15px;
  padding: 5px;
  margin-left: 20px;
}

/* 削除ボタン */
.delete-button {
  color: white;
  background-color: red;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  padding: 5px;
  margin-left: 20px;
}

/* 検索バー */
.search-box {
  padding: 20px 80px;
  display: flex;
}

/* 検索バー内の入力部分 */
.search-box input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #444;
  background-color: #181818;
  color: #e6e6e6;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-box input::placeholder {
  color: #888;
}

/* 検索バー内のボタン */
.search-box button {
  background-color: #1da1f2;
  border: none;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box button:hover {
  background-color: #0d8ddb;
}

/* 新規登録画面、ログイン画面全体の設定 */
.auth-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #222;
  padding: 100px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  text-align: center;
}

/* 名前・メールアドレス・パスワードの入力部分 */
.auth-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 1rem;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.auth-form input:focus {
  border-color: #1da1f2;
  outline: none;
}

/* ログインボタン・登録ボタン */
.auth-form button {
  width: 100%;
  margin-top: 12px;
  padding: 12px;
  background-color: #1da1f2;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-form button:hover {
  background-color: #0d8ddb;
}

/* 文字「アカウントをお持ちでない方はこちら」 */
.auth-container p {
  padding-top: 20px;
  font-size: 1.1rem;
}

/* リンクボタン */
.link-button {
  background: transparent;
  color: #1da1f2;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: underline;
}

/* エラーメッセージ */
.error-message {
  color: red;
  margin-top: 10px;
}

/* 成功メッセージ */
.success-message {
  color: #1da1f2;
  margin-top: 10px;
}
