/* 投稿フォーム */
.post-form {
  padding: 10px;
  border: 2px solid #444;
  display: flex;
  flex-direction: column;
}

/* 投稿フォーム内のテキストエリア */
.post-form textarea {
  width: 100%;
  background: transparent;
  color: #e6e6e6;
  font-size: 18px;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  resize: none;
}

.post-form textarea::placeholder {
  color: #888;
}

/* 投稿フォーム内のタグ入力欄 */
.post-form input[type="text"] {
  background: #111;
  color: #e6e6e6;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 8px 10px;
  margin: 6px 0;
}

/* 投稿フォーム内の画像ファイル入力欄 */
.post-form input[type="file"] {
  margin: 6px 0 10px;
}

/* 投稿フォーム内の投稿ボタン */
.post-form button {
  background-color: #1da1f2;
  color: #fff;
  border-radius: 15px;
  border: 1px solid #1da1f2;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  margin-left: auto;
}


.post-form button:hover {
  background-color: #0d8ddb;
}
