/* ページ全体の文字色と背景色を設定 */
body {
  color: #c7c7c7;
  background-color: #181818;
}

/* サイドバー全体の設定 */
.sidebar {
  width: 230px;
  position: fixed;    
  padding-top: 100px;
  padding-left: 50px;
}

/* サイドバーの各アイテム */
.sidebar-item {
  cursor: pointer;
  height: 60px;
  display: flex;
  align-items: center;
}

/* サイドバーの各アイテム内のアイコン */
.sidebar-item__icon {
  font-size: 24px;
  color: #fff;
}

/* サイドバーの各アイテム内のラベル */
.sidebar-item__label {
  margin-left: 15px;
  color: #fff;
  font-size: 20px;
  padding-bottom: 8px;
}

/* メインコンテンツ全般の設定 */
.main-content {
  width: 100%;
  width: 50%;
  margin-left: 230px;
  height: 100vh;
  padding: 2rem;
  border-left: 1px solid #444;
  box-sizing: border-box;
}


/* 
  投稿一覧画面のレイアウト設定
*/
/* 投稿フォーム */
.post-form {
  max-width: 600px;
  border: 2px solid #e6e6e6;
  display: flex;
  flex-direction: column;
}

/* 投稿フォーム内のテキストエリア */
.post-form textarea {
  width: 100%;
  background: transparent;
  color: #e6e6e6;
  font-size: 1.3rem;
  padding: 0.5rem 0;
  border: none;
  outline: none; 
  resize: none;
}
.post-form textarea::placeholder {
  color: #888;
}

/* 投稿フォーム内の投稿ボタン */
.post-form button {
  background-color: #1da1f2;
  color: #fff;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.1rem;
  margin-left: auto;
}
.post-form button:hover {
  background-color: #0d8ddb;
}

/* 投稿カード全体 */
.post-card {
  border: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0.5rem;
}

/* 削除ボタン */
.delete-button {
  color: white;
  background-color: red;
  border: none;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

